.cc-nomargin {
  margin:0;
  padding: 0;
}

.cc-section {
  border: 2px solid black;
  padding: 0;
}

.cc-title {
  font-size: 40px;
  background: #33DA33;
  border: 3px solid black;
  border-right: 3px solid black;
  max-height: 65px;
  line-height: 65px;
  }

.cc-header {
  max-height: 55px;
  line-height: 55px;
  font-size: 16px;
  border: 1px solid black;
  background: #fff000;
  font-weight: bold;
}

.header-name, .header-price, .header-qty, .header-item, .header-button {
  border-left: 1px solid black;
  margin: 0;
}

#total-price {
  font-size: 40px;
  border: 1px solid black;
  max-height: 55px;
  padding: 0 0 5px 5px;
}

.header {
  margin: 0 0 20px 0;
  border: 1px solid black;
}

.cc-item {
  border: 2px solid black;
  max-height: 43px;
  line-height: 43px;
  font-size: 17px;
}
.cc-item-even {
  border: 2px solid black;
  max-height: 43px;
  line-height: 43px;
  font-size: 17px;
  background: #BBB;
}

.cc-totalprice {
  border: 2px solid black;
}
.cc-total-caption {
  font-size: 40px;
  border: 1px solid black;
  background: #33DA33;
  max-height: 55px;
  padding: 0 0 5px 12%;
}

.item-name, .item-price, .item-qty, .total-cost {
  border-left: 1px solid black;
  /*line-height: 43px;
  max-height: 43px;*/
}

.item-name {
  font-weight: bold;

}

.cc-button, .quantity {
  background: #EEEEEE;
  border-radius: 5%;
  max-height: 43px;
  line-height: 43px;
  /*margin: 0.5px 0;
  padding:0.5px 0;*/
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.cc-button:hover {
  color: red;
  font-weight: bold;
}

.quantity {
  font-weight: bold;
  border-radius: 10%;
  padding: 0 0 0 10px;
}

.quantity-even {
  background: #CCC;
}

.quantity:focus, .quantity:hover{
  background: white;
  color: blue;
  font-weight: bolder;
}

.cc-menu {
  max-height: 65px;
  line-height: 65px;
  font-size: 16px;
  background: #BC9A20;
  color: white;
  border: 3px solid black;
  padding: 0;
  text-shadow: 0 0 ;
  display: block;
  width: 100%;
  overflow: none;
}

.cc-menu:hover {
  font-weight: bold;
}

.cc-menu:active {
  background: #33DA33;
  font-weight: bold;
}

#cc-checkout {
  font-size: 17px;
  border: 1px solid black;
  background: #BC9A20;
  max-height: 55px;
  line-height: 55px;
  padding: 0 0 0 1%;
  border-radius: 5%;
  color: white;
  box-shadow: black;
}

.cc-disabled {
  
}

#cc-checkout:hover {
  font-weight: bold;
  background: #BBB;
  border: 3px solid #888;
  color: black;
}
